<head>
  <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript"> 
      
      // DELETE ajax call for DELETE method
      $(document).ready(function(){
          $(".logout").on('click',(function(e){
              $target =  $(e.target);
              // var id = $target.attr('user-id');
              // var url = $target.attr('href');
              $.ajax({
                url: '/admin/logout',
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function(response){
                  localStorage.removeItem('adminID');
                  window.location = '/';
                },
              })
          }));
      }); 
  
  </script>        
  </head>
<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <div class=" dropdown-header noti-title">
      <h6 class="text-overflow m-0">Welcome!</h6>
    </div>
    <!-- <a href="/header" class="dropdown-item">
      <i class="ni ni-single-02"></i>
      <span>My profile</span>
    </a> -->
    <!-- <a href="/header" class="dropdown-item">
      <i class="ni ni-settings-gear-65"></i>
      <span>Settings</span>
    </a>
    <a href="/header" class="dropdown-item">
      <i class="ni ni-calendar-grid-58"></i>
      <span>Activity</span>
    </a>
    <a href="/header" class="dropdown-item">
      <i class="ni ni-support-16"></i>
      <span>Support</span>
    </a> -->
    <div class="dropdown-divider"></div>
    <a href="/" class="dropdown-item logout">
      <i class="ni ni-user-run"></i>
      <span class="logout">Logout</span>
    </a>
  </div>
  