<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://192.168.42.80:3000/js/loginAjax.js"></script>  

<body class="bg-default">
  <div class="main-content">
    <!-- Navbar -->
    <%- include('../partials/auth/navbar') %>
    <!-- Header -->
    <%- include('../partials/auth/header') %>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
              <div class="btn-wrapper text-center">
                <a href="/" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="/" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
                <br />
                <small>
                  You can use <strong>admin@argon.com</strong> and <strong>secret</strong> to login
                </small>
              </div>
              <div id="error"></div>
              <br>          
              <form role="form" id="adminLogin" novalidate>

                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" name="email" id="adminLoginEmail" required>
                  </div>
                  <div id="emailError"></div>
                </div>

                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" name="password" id="adminLoginPassword" required>
                    </div>
                    <div id="passwordError"></div>
                  </div>
                <div class="text-center">
                  <input type="submit" class="btn btn-primary my-4" value="Sign in">
                </div>
              
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <!-- <a href="/reset-password" class="text-light"><small>Forgot password?</small></a> -->
            </div>
            <div class="col-6 text-right">
              <!-- <a href="/register" class="text-light"><small>Create new account</small></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <%- include ('../partials/auth/footer') %>

  <!-- Include scripts -->
  <%- include ('../partials/scripts') %>  
</body>
